@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
div{
    background: red;
    width: 200px;
    margin: auto;
    text-align: center;
}

div{
    border: 2px solid rebeccapurple;
    border-radius: 100px 10px;
    
}
